@media (max-width: 1100px) {
 .featured-section {
    width: 100%;
    /* background: red; */
}
.faet_box .faet_content_top{
    display: inline-block;
}
.faet_box .faet_content_top li{
    margin-bottom: 5px;
}
.tenacity_section p {
    width: 80%;
}


  
  }

  @media (max-width: 997px) {
    .digital_box_right{
        margin-top: 0em;
    }
    .textSection p{
        width: 100%;
    }
    .tenacity_section p {
    width: 100%;
}

.tenacity_section h2{
    font-size: 35px;
    margin-bottom: 22px;
}
.precision_section .item{
    display: inherit;
}

.precision_section .item .item2{
    width: 100%;
}
.precision_section ._paragraph {
    width: 100%;
}
.precision_section ._paragraph p{
    width: 100%;
}
  }
@media (max-width: 998px) {

    .navbar {
        padding-left: 0rem !important;
    }
}

@media (max-width: 992px) {
        .header_section .hero-main-title {
        font-size: 7vw;
    }
    .main-title, .sub-title{
        font-size: 3em;
    }
    .featured-dis-none{
        display: none;
    }
    .swiper-mobile-section{
        display: block;
    }
    .project_section{
        padding-bottom: 2em;
    }
    ._textLine{
        padding: 1em 0;
    }
.hiddenLGScrean{
    display: none;
}
     .showSmScrean{
        display: block;
        /* width: 94%; */
     }
    
        .faet_box .faet_content_top {
        display: flex;
    }
    .swiper-mobile-section{
        width: 94%;
        /* display: block; */
    }




    .swiper-mobile-section p._featText{
        float: left;
    }
.swiper-mobile-section ._featText{
        /* float: left; */
    }

/* .textSection p */
.textSection p{
    font-size: inherit;
    font-weight: normal;
}

 .fastestLGSccrean{
    display: none;
}
.fastestsMobileSection{
    display: block;
} 

.fastestsMobileSection .text-section {
  width: 100%;
}
.fastestsMobileSection .image-section {
  width: 100%;
}
.fastestsMobileSection h1{
font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
 }
.fastestsMobileSection p{
font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
 }

.fastestsMobileSection a {
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid #000;
    font-weight: bold;
}
.amImg{
    margin-top: 0px;
    height: 600px;
    overflow: hidden;
}
.image-section{
    height: 600px;
    overflow: hidden;
}
.image-section img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}



.project_section .project_body{
    margin-bottom: 20px;
}

.priceSection p{
    font-size: 68px;
}
.slider .slide-track{
    
    width: calc(100% * 6);
    align-items: center;
    justify-content: center;
}


}


/* tab and mobile width */

@media (max-width: 770px){
    .slider .slide-track {
        width: calc(100% * 8);
    }
    .footerAnimitionTextlist li span{
        font-size: 3.5em;
    }
    .textSection p{
        font-size: 19px !important;
        width: auto !important;
    }

  .heroWrapper_section .webBox p{
    width: 100%;
  }
  .heroWrapper_section .back_video{
    display: none;
}
  /* .animateScroll20 media */
  .big_wrapper_section .animateScroll20{
    min-block-size: 60vh;
    place-content: center
    /* background: red; */
  }
  ._animateWrapper .animateScroll20{
    min-block-size: 50vh;
    place-content: end;
  }
  ._animateWrapper .pin-spacer{
    height: 750px !important;
  }
  .animateScroll20 .tag-listScroull li {
    font-size: 3.5em;
    color: #ffffff !important;
}
._animateWrapper .tsome{
    text-align: left !important;
    padding-bottom: 0em;
    padding-left: 20px;
}
.text-egy p {
    text-align: left;
    font-size: 16px;
}
.bpTw{
    width: 100% ;
}

/* -------------new media ------------------------ */

    .hero-hr{
        flex: 1 1 76px !important
    }
    .hero_lineHeader{
        right: 16px;
        top: -6px;
        margin: 10px 0 5px 0;
    }
        .main-title, .sub-title {
        font-size: 1.8em;
    }
.swiper-mobile-section ._feat{
    height: 500px !important;
}
.swiper-mobile-section .faet_content_top li{
    padding: 2px 5px;
}
.digital_box_right .dgBoxImg{
    height: 280px;
}
.heroWrapper_section ._dgBoxImg{
    height: 300px;
}
.project_section .project_body{
    height: 500px;
}
.project_section .ourText{
    font-size: 30px;
}
.animateScroll20 .tag-listScroull li {
    /* font-size: 3.5em; */
}
.priceSection{
    height: 35vh !important;
}
._textLine{
    width: 100%;
}
.tenacity_section .s1{
    right: -17%;
}
.tenacity_section h2{
    padding-bottom: 20px;
}
.heroWrapper_section .webBox p{
    width: 100%;
}
.gBoxLeft .ul1 li{
    font-size: 48px;
}
.heroWrapper_section .gBoxLeft p{
    font-size: 48px;
}

/* approach page media */
.sectionheaderAproach{
    min-height: 75vh;
}
.sectionheaderAproach .scroll-indicator{
    position: relative;
    right: 0;
    text-align: center;
}
._apprTyping{
    padding-top: 0px;
}
.top-text{
    margin-bottom:2em ;
}
.headerAproachFlex .h-sm{
        display: none;
    }
        .fixed-bar {
        display: none;
    }
    .headerAproachFlex .sh-sm {
        display: block;
    }
.approachWrappSticky {
    /* background: red; */
    padding: 1em 0 !important;
    margin: 0 !important;
}
.approachStickyRight{
    padding: 5px 15px;
}
.secAcord1 .accordion-button .t1 a{
    font-size: 16px !important;
}
    .approachStickyRight ._bigtext {
        font-size: 25px !important;
        text-align: center;
    }


}


















@media (max-width: 670px){
 .slider .slide-track {
        width: calc(100% * 8);
    }
._carousel .slider p {
    font-size: 5em;
    /* color: #fff; */
    font-weight: normal;
    display: flex;
    align-items: center;
}


}