/.phpunit.cache
/node_modules
/build
/hot
/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
esc.sql
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
# Ignore personal/OS/system folders and SSH
.cache/
.config/
.local/
.ssh/
__MACOSX/
uploads/

# Ignore user shell history files
.bash_history
.bash_logout
